{% extends 'base.html' %}

{% block title %}Strona Główna{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<p><b>Nie czekaj w kolejce na poczcie – zarejestruj przesyłki na paczkonomia.pl. Wycena online. W kraju i za granicą. Znajdź swój lokalny punkt. Międzynarodowe i krajowe. Niezawodni kurierzy.</b></p>
<p>Rozwijaj naszą globalną działalność, zaspokajając potrzeby logistyczne klientów, oferując im doskonałość i wartości we wszystkich naszych działaniach.</p>
<p>Postaw na firmę stabilną finansowo z pracowniczą strukturą własności, która zapewnia naszym akcjonariuszom trwałe i konkurencyjne zwroty.</p>
<p>Zainspiruj naszych pracowników i partnerów biznesowych do rozwoju, oferując im możliwość osobistego rozwoju i sukcesu.</p>
<p>Dawaj przykład jako odpowiedzialna, troskliwa i zrównoważona firma, która wywiera znaczny wpływ na społeczności, w których służymy.</p>
{% endblock %}